*{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}
form {
    margin-top: 25px;
    background: #fff;
    box-shadow: -3px 6px 4px #222;
}
form input {
    width: 0px;
    height: 0px;
    border: none;
    outline: none;
    padding: 0px;
}
form button {
    width: 50px;
    height: 40px;
    border: none;
    background-color: rgb(170, 242, 170);
    outline: none;
    cursor: pointer;
}
.container {
    margin-top: 25px;
}
ul{
    list-style: none;
    width: 500px;
}
ul li{
    width: 100%;
    background: #fff;
    height: auto;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    box-shadow: -3px 6px 4px #222;
    transition: 0.5s linear;
}
ul li span{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    background: red;
}
.no-decoration{
    text-decoration: none;
    color: black;
}